pytest>=3.4.2
numpy
pdbpp

# pysipp for call tracking testing
-e git+https://github.com/SIPp/pysipp.git#egg=pysipp

# pytest-dockerctl for container mgmt
-e git+https://github.com/tgoodlet/pytest-dockerctl.git#egg=pytest-dockerctl
